@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);section.buy-section {
  background-color: #0282f9;
  width: 100%;
}

section.buy-section ul {
  display: flex;
  justify-content: center;
}

section.buy-section li {
  display: flex;
  align-items: center;
  padding: 30px;
}

section.buy-section li img {
  max-width: 35px;
  margin-right: 15px;
}

section.buy-section li p {
  text-transform: uppercase;
  color: white;
}

.footer-list {
  background-image: url("/images/footer-bg.jpg");
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 450px;
  overflow: hidden;
}

.footer-list img {
  margin-left: 200px;
  height: 550px;
  margin-left: 200px;
  overflow: hidden;
  position: relative;
  bottom: 90px;
}

.footer-list h2 {
  color: white;
  margin-left: 10px;
}

.footer-list ul {
  margin-right: 20px;
}

.footer-list li {
  color: grey;
  list-style: none;
  margin: 10px;
}

.bottom {
  background-color: #303030;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  height: 120px;
}

.bottom h2 {
  color: white;
}

.bottom button {
  padding: 20px;
  background: none;
  border: 1px solid #0282f9;
  color: white;
  text-transform: uppercase;
}

.bottom .social {
  display: flex;
  align-items: center;
}

.bottom .social h2,
.bottom .social img {
  margin-right: 20px;
}

.bottom .social h2 {
  color: #2d4ac5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.jumbotron {
  width: 100%;
  height: 50vh;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

main {
  display: flex;
  /* background-color: rgba($color: #1c1c1c, $alpha: 1.0); */
  background-color: #1c1c1c;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

main h2,
main h3 {
  background-color: #0282f9;
  color: white;
  padding: 10px 30px;
}

main h2 {
  position: absolute;
  top: -20px;
  left: 120px;
}

main h3 {
  margin-bottom: 30px;
}

main div.card {
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

main div.card img {
  height: 85%;
}

main div.card p {
  color: white;
  text-transform: uppercase;
  margin: 20px 0px;
  text-align: center;
}

div.top {
  text-transform: uppercase;
  color: white;
  display: flex;
  background-color: #0282f9;
  justify-content: flex-end;
}

div.top p {
  position: relative;
  right: 10%;
  padding: 10px 20px;
}

header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

header img {
  margin-right: 250px;
}

header ul {
  display: flex;
}

header li {
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}

header li:hover {
  color: #0282f9;
  border-bottom: 2px solid #0282f9;
  cursor: pointer;
}

.jumbotron {
  position: relative;
}

.jumbotron div {
  position: absolute;
  bottom: 0;
  background-color: #0282f9;
  height: 50px;
  width: 100%;
}

.background {
  position: relative;
  bottom: 150px;
  background-color: #f6f6f6;
  padding: 50px 0px;
}

.background nav {
  width: 70%;
  margin: auto;
}

.background nav ul {
  display: flex;
  list-style: none;
}

.background nav ul li {
  width: 20%;
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.background nav ul li p {
  color: grey;
  margin-left: 10px;
}

.background nav ul li img {
  max-width: 20%;
  filter: contrast(0.5);
}

div.content {
  width: 70%;
  margin: auto;
  display: flex;
  position: relative;
  top: -300px;
}

div.content img {
  margin-bottom: 50px;
}

div.content h1 {
  margin-bottom: 15px;
}

div.content span {
  padding: 0px 20px;
}

div.content p {
  line-height: 25px;
  margin-top: 15px;
}

div.content div.buyDetails {
  background-color: green;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

div.content div.buyDetails select {
  border: none;
  background-color: transparent;
  color: white;
}

div.content div.right-content {
  align-self: flex-end;
  margin: 15px;
}

.credits {
  width: 70%;
  margin: auto;
  display: flex;
}

.credits a {
  text-decoration: none;
}

.credits .talent {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 40px;
}

.credits .specs {
  width: 50%;
}

.credits .specs .series,
.credits .specs .price,
.credits .specs .date {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

